<h1>Please Create an Account</h1>
<% provide(:title, 'Sign up') %>
<h1> Sign up </h1>
<%= form_for User.new do |f| %>
         <%= f.label :name %> <br />
	  <%= f.text_field :name %><br />

        <%= f.label :email %><br />
		 <%= f.text_field :name %><br />

	 <%= f.label :password %><br />
		 <%= f.password_field :password %><br />

	<%= f.label :password_confirmation, "Confirmation" %><br />
		 <%= f.password_field :password_confirmation %><br />

		<%= f.submit "Create my account" %>
		<%= link_to 'Create my account', login_path %>
		
		
	        <% end %>
